<h2>Employee List</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Date of Birth</th>
    <th>Gender</th>
    <th>Phone No</th>
    <th>Email</th>
    <th>Update/Delete </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let employee of employees">
    <td>{{ employee.firstName }}</td>
    <td>{{ employee.lastName }}</td>
    <td>{{ employee.dob | date:'yyyy-MM-dd'}}</td>
    <td>{{ employee.gender }}</td>
    <td>{{ employee.phoneNo }}</td>
    <td>{{ employee.emailId }}</td>
    <td>
      <button (click)="updateEmployee(employee.id)" class="btn btn-info text-white">Update</button>
      <button (click)="deleteEmployee(employee.id)" class="btn btn-danger text-white" style="margin-left: 10px">Delete</button>

    </td>
  </tr>
  </tbody>
</table>
