<div class="col-md-6 offset-md-3">
      <h3 class="align-items-center">Create Employee</h3>

    <form (ngSubmit)="onSubmit()" class="mt-1">

      <div class="d-flex justify-content-center align-items-center">
        <img [src]="imageSrc || 'https://cdn.pixabay.com/photo/2015/03/04/22/35/avatar-659652_640.png'"
             class="rounded-circle border border-3 m-2" width="150" height="150" alt="profile picture">
        <input (change)="onFileSelected($event)" class="form-control form-control-sm w-50 h-25" id="formFileSm" type="file" [(ngModel)]="employee.photo">
      </div>

      <div class="form-group mb-2">
        <label class="fw-bold mb-1">First Name</label>
        <input type="text" class="form-control form-control-sm" id="firstName" name="firstName" [(ngModel)]="employee.firstName" required>
      </div>

      <div class="form-group mb-2">
        <label class="fw-bold mb-1">Last Name</label>
        <input type="text" class="form-control form-control-sm" id="lastName" name="lastName" [(ngModel)]="employee.lastName" required>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group mb-2">
            <label class="fw-bold mb-1">Date of Birth</label>
            <input type="date" class="form-control form-control-sm" id="dob" name="dob" [(ngModel)]="employee.dob" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-2">
            <label class="fw-bold mb-1">Gender</label>
            <select class="form-control form-control-sm" id="gender" name="gender" [(ngModel)]="employee.gender" required>
              <option value="" disabled selected>Select Gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group mb-2">
        <label class="fw-bold mb-1">Phone No</label>
        <input type="text" class="form-control form-control-sm" id="phoneNo" name="phoneNo" [(ngModel)]="employee.phoneNo" required>
      </div>

      <div class="form-group mb-2">
        <label class="fw-bold mb-1">Email ID</label>
        <input type="email" class="form-control form-control-sm" id="emailId" name="emailId" [(ngModel)]="employee.emailId" required>
      </div>

      <button class="btn btn-success btn-lg mt-2 w-100" type="submit">Submit</button>
    </form>
  </div>
